.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.footer__container {
  width: 1420rem;
  border-top: 1rem solid #9D9D9D;
  display: flex;
  justify-content: space-between;
  margin: 0 100rem 290rem;
}

.footer__info {
  margin: 159rem 0 0;
}

.footer__logo {
  margin: 0 0 38rem;
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 49.2rem;
  line-height: 58rem;
  text-transform: uppercase;
  color: #CCCCCC;
}

.footer__text {
  margin: 0;
  font-family: 'KDT';
  font-weight: 400;
  font-size: 22.4rem;
  line-height: 38rem;
  color: #171717;
}

.footer__menu {
  padding: 0;
  list-style: 0;
  margin: 250rem 0 0;
  display: flex;
}
.footer__item {
  margin: 0 0 0 26.3rem;
}


@media screen and (max-width: 768px) {
  .footer__container {
    width: 1420rem;
    margin: 0 50rem 290rem;
    flex-direction: column;
  }
  .footer__logo {
    font-size: 60rem;
    margin: 0 0 50rem 30rem;
  }
  .footer__text {
    margin: 0 0 0 30rem;
    font-size: 40rem;
    line-height: 200%;
  }
  .footer__menu {
    margin: 60rem 0 0;
  }
  .footer__item {
    margin: 0 58rem 0 0;
  }

}